header
    div.container
        h3 Week 4 Assignment-3
        if username
            a(href='/') Log out
        else
            a(href='/signup') Sign Up
            a(href='/signin') Sign In
        