doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Week 4 Assignment-3
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap')
        link(rel='stylesheet', href='/static/stylesheet/normalize.css')
        link(rel='stylesheet', href='/static/stylesheet/style.css')
    body
        include includes/header.pug
        block main


