extends index
block form
    form#sign-up-form(action="/signup" method="post")
        h2 Sign Up
        if message
            div.error
                strong Error:
                p #{message}
        label Username:
            input#sign-up-username(type='text',name='username', placeholder="App Works", required, minlength='4', maxlength='45')
        label Email:
            input#sign-up-email(type='email',name='email', placeholder="example@mail.com", value=email, required)
        label Password:
            input#sign-up-password(type='password',name='password', placeholder="********", required, minlength='8', maxlength='20')
        button(type='submit') Submit