/* width < 600 */
*{
    box-sizing: border-box;
}

body{
    color:#202124;
    font-family: "Google Sans";
    font: 400 16px/24px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    
}

footer{
    border-top: 1px solid #dadce0;
    font: 14px/20px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    padding: 0 24px;
}

h1{
    font: 400 44px/52px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    letter-spacing: -0.5px;
}

h2{
    font:400 32px/40px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    letter-spacing: 0px;
}

h3{
    font: 400 24px/32px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    margin: 48px 0 24px;
}

p{
    margin: 16px 0;
    padding: 0;
}

strong{
    font-weight: bold;
}

a{
    color:#1a73e8;
    cursor: pointer;
}

footer a{
    color: #202124;
}

header a{
    color: #5f6368;
}

img{
    width:100%;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    height: 101%;
    left: -0.5%;
    position: absolute;
    top: -0.5%;
    width: 101%;
}

header ul,
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.button{
    box-sizing: border-box;
    display: inline-block;
    font: 500 14px/36px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    color: #1a73e8;
    padding: 0 8px;
    margin: 4px;
    height: 36px;
    min-width: 36px;
    vertical-align: middle;
    border-radius: 4px;
}

.button-white:hover{
    background: #e8f0fe;
}

.button-blue{
    color: #fff;
    background: #1a73e8;
    margin: 4px 4px 4px 12px;
    padding: 0 24px; 
}

.search-field-wrapper{
    position: relative;
    margin: 6px 0 6px 24px;
    height: 36px;
}

.search-field-wrapper input{
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 40px;
    background-color:#f1f3f4;
    border: none;
    border-radius: 4px;
}

.search-field-img{
    position: absolute;
    color:#5f6368;
    top: 6px;
    left: 6px;
}

.language-selector-wrapper{
    margin: 0 0 0 16px;
    height: 36px;
}

.language-selector{
    display: flex;
    align-items: center;
    font: 500 14px/36px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    appearance: none;
    border: 1px solid #dadce0;
    border-radius: 4px;
    line-height: 34px;
    
}
.language-selector a{
    padding: 0 18px;
}

.language-selector .dropdown-tab{
    padding-right: 0;
}

.language-selector .dropdown-arrow{
    padding-left: 6px;
    padding-right: 6px;
}

.main-header{
    background-color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #bdc1c6;
}

.main-header + .content{
    padding-top: 48px;
}

.wrapper{
    margin: 0 1.5em;   
}

.header-row{
    height: 48px;
    display: flex;
    align-items: center;
}

#hamburger-menu-checkbox{
    display: none;
}

#hamburger-menu-btn {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.logo-wrapper{
    width: 185px;
    flex:0 1 auto;
}

.nav-wrapper{
    margin-left: 48px;
    margin-right: auto;  
}

.main-nav{
    display: flex;
    align-items: center;
}

.tab {
    font: 500 14px/20px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    
    display: flex;
    align-items: center;
}

.tab a{
    padding: 0 18px;
}

.tab .dropdown-tab{
    padding-right: 0;
}

.tab .dropdown-arrow{
    padding-left: 0;
    padding-right: 12px;
}

.nav-wrapper .dropdown-content{
    display: none;
}

header .search-field-wrapper{
    
}

.language-selector-wrapper .dropdown-content{
    display: none;
}

.user-avatar-wrapper{
    background: url('../img/avatar.jpeg') #000; 
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 12px;
}

.sub-header{
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.banner{
    padding: 40px 24px 20px;
    
}
.banner h1{
    margin: 14px 0;;
}

.banner-search-field-wrapper{
    margin: 0px auto;
    padding-bottom: 48px;
    max-width: 816px;
    width: 90%;
}

.sub-header .search-field-wrapper{
    margin: 6px 0;
}

#event-section{
    background-color: #f1f3f4;
    padding: 40px 0 ;
}

#news-section{
    padding: 40px 0 ;
}

.row-wrapper{
    margin: 0 auto;
    max-width: 1520px;
}

.row-header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    padding: 0 40px;
    align-items: center;
    height: 40px;
}

.row-header h2{
    margin: 0;
    flex: 1 1 auto;
}

.row-header a{
    flex: 0 1 auto;
}

.row{
    display: flex;
    margin-top: 32px;
    padding: 0 40px;
}

.row:not(:first-of-type){
    margin-top: 40px;
}

.row h3,
.row p:first-of-type{
    margin-top: 0;
}

.row p:last-of-type{
    margin-bottom: 0;
}

.item{
    display: flex;
    flex: 1 0;
    max-width: 100%;
    min-width: 0;
}

.card{
    display: flex;
    flex: 1 0;
    max-width: 100%;
    min-width: 0;
    flex-direction: column;
    border: 1px solid #dadce0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.card:not(:first-child){
    margin-left: 24px;
}

.item .item-media{
    flex: 0 0 calc((100% - 24px) / 2);
}

.youtube-wrapper{
    display: block;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.item .item-description{
    margin: 0 0 0 40px;
    flex: 0 1 calc((100% - 20px) * 2 / 3);
}

.card .item-description{
    display: flex;
    flex-direction: column;
    margin: 0;
    order:2;
    padding: 16px;
    flex:1 1 auto;
}

.item .item-description-button-wrapper{
    margin: auto 0 -8px -12px;
    padding-top: 8px;
}

.card .item-description-button-wrapper{
    margin: auto 0 -8px -12px;
    padding-top: 16px;
}

.footer-linkbox{
    border-bottom: 1px solid #dadce0;
    font: 400 14px/16px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}

.footer-nav{
    display: flex;
}

.footer-nav .nav-col{
    flex: 1;
    margin: 24px 0;
}

.footer-nav .nav-col:not(:first-child){
    margin-left: 24px;
}

.footer-nav h3{
    display: block;
    font: 400 16px/26px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    margin: 1px 0 4px;
}

.footer-nav a,
.footer-site ul a{
    display: block;
    padding: 8px 0;
}

.footer-nav a:hover{
    color:#1a73e8;
}

.footer-site{
    border-bottom: 1px solid #dadce0;
    border-top: none;
    padding: 24px 0 23px;
    display: flex;
}

.footer-site ul{
    display: flex;
    align-items: center;
}

.footer-site li{
    margin: 0 0 0 40px;
}

.footer-link{
    padding: 24px 0;
    display: flex;
    align-items: center;
    flex: 1;
}

.footer-link ul{
    display: flex;
    flex:1;
    align-items: center;
}

.footer-link li,
.footer-link li .bar{
    margin-right: 8px;
}

.footer-utility-button {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-left: auto;
    padding-left: 16px;
}

.footer-button-wrapper{
    margin: -4px -4px -4px 4px;
}

@media (max-width:350px){
    
}

@media (max-width:600px){
    /* Two column */
    #hamburger-menu-btn{
        display: none;
    }


}
@media (max-width:840px){
    header .logo-wrapper{
        margin-right: auto;
    }

    .nav-wrapper{
        display: none;
    }

    .footer-site .logo-wrapper{
        margin-bottom: 16px;
    }

    .footer-site{
        display: block;
    }

    .footer-site li{
        margin: 0 40px 0 0;
    }
}
@media(max-width:872px){

}

@media(min-width: 1520px){
    /* body Max width : 1520 */
}