*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.btn-reset{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-reset:focus{
    outline: none;
}

.wrapper{
    margin: 0 1em;
}

header{
    background-color:#eaeaea;
    padding: 0.5em 0;
}

.title {
    text-align: left;
    font-size: larger;
    margin-right: auto; 
}

#menu-btn {
    z-index: 10;
    position: absolute;
    top: 0.65em;
    right: 1em;
    display: block;
    margin-left: 1em;
    width: 32px;
    height: 32px; 
}



#main-nav{
    display: none;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    background-color:rgba(255,255,255,.95);
    min-width: 200px;
    width: 40%;
    height: 100%;
}

.menu-list{
    padding: 0;
    margin-top: 60px;
    flex: 1;
}

.menu-list li{
    margin: 0;
    list-style-type: none; 
    padding: 0.5em 0; 
}

#banner{
    position: relative;
    background: url(../img/nuit-blanche-in-taipei.jpg) center #4d5d6c;
    padding: 2em;
    color: white;
    height: 300px;  
}

#banner h1{
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0.5em; 
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.col{
    flex: 100%;
}

.item{
    position: relative;
    padding: 0.3em;
    height: auto;
}

.hidden-item{
    display: none;
}

.item-title{
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    opacity: 0;
}

.item-img{
    background-color:  #cecece;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.item:hover .item-title{
    opacity: 1;
}

.btn{
    margin: 1em 0.3em;
    padding: 1em;
    border: 1.5px black  solid ;
    border-radius: 6px;
    background: none;
    font-size: 14px;
}

@media (min-width: 500px){
    .col{
        flex: 50%;
    }  
}

@media (min-width:800px){
    .wrapper{
        margin: 0 2em;
    }

    
    .header-container,
    #main-nav,
    .menu-list{
        display: flex;
    }

    #main-nav{
        background: none;
        position: static;
        width: auto;
        height: auto;
    }

    .menu-list{
        margin-top: auto;
    }

    #menu-btn{
        display: none;
    }
    
    .menu-list li{
        padding: 0 1em;
    }

    .item{
        padding: 0.5em;
    }

    .item-img{
        border-radius: 1em;
    }
}

@media (min-width: 1200px){
    .wrapper{
        width: 1200px;
        margin: 0 auto;
    }
    .item{
        padding: 1em;
    }
}


